@font-face {
  font-family: 'NunitoSans';
  src: url('fonts/NunitoSans.ttf')
}

* {
  font-family: 'NunitoSans';
}

.search-box {
  position: relative;

  input {
    padding-inline-start: 45px;
  }

  .search-box-icon {
    position: absolute;
    top: 30%;
    margin-inline-start: 15px;
    color: #999;
  }
}





.text- {
  &ellipsis {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}



.row {
  --bs-gutter-x: 4rem;
}

.theme-dark,
.theme-light {


  .card,
  .dropdown-menu,
  .search-box-input,
  .region-filter .dropdown-toggle {
    //background-color: #fff;
    border: none;

    &:focus,
    &:hover {
      outline: none;
      border: none;
    }
  }



  .shadow {
    box-shadow: var(--element-box-shadow-color) 0 0 10px !important;
  }

  .btn-light {
    @extend .shadow;
    border: none;

    &:focus,
    &:hover {
      outline: none;
      border: none;
    }
  }

  .navbar {
    background-color: var(--element-bg);
    color: var(--bs-body-color);

    box-shadow: var(--nav-box-shadow-color) 0 0 10px;

    .navbar-brand {
      color: var(--bs-body-color);
      --bs-navbar-brand-font-size: 2rem;
    }


    .nav-link {
      --bs-nav-link-hover-color: var(--nav-link-hover-color);
      --bs-nav-link-focus-color: var(--nav-link-hover-color);
      --bs-nav-link-active-color: var(--nav-link-hover-color);
      --bs-nav-link-color: var(--bs-body-color)
    }
  }

  .dropdown-menu {
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--element-bg);

    .dropdown-item {
      --bs-dropdown-link-hover-bg: var(--dropdown-link-hover-bg);
    }
  }

  .card {
    --bs-card-color: var(--element-color);
    --bs-card-bg: var(--element-bg);
  }

  .form-control {
    background-color: var(--bs-form-control-bg);
    --bs-form-control-bg: var(--element-bg);
  }

  .btn {
    --bs-btn-color: var(--element-color);
    --bs-btn-bg: var(--element-bg);
    --bs-btn-font-weight: 100;
    --bs-btn-hover-bg: var(--btn-hover-bg);
    --bs-btn-hover-color: var(--element-color);
    --bs-btn-focus-bg: var(--btn-hover-bg);
    --bs-btn-focus-color: var(--element-color);
    --bs-btn-active-bg: var(--btn-hover-bg);
    --bs-btn-active-color: var(--element-color);
  }

  --bs-body-color:var(--element-color);
  --bs-body-bg: var(--page-bg);


  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--placeholder-color);
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--placeholder-color);
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--placeholder-color);
  }
}

.theme-dark {
  --page-bg: hsl(207, 26%, 17%);
  --element-bg: hsl(209, 23%, 22%);
  --element-color: hsl(0, 0%, 100%);
  --dropdown-link-hover-bg: hsl(208, 23%, 27%);
  --nav-link-hover-color: hsl(0, 0%, 90%);
  --btn-hover-bg: hsl(208, 23%, 27%);

  --element-box-shadow-color: hsl(208.4, 22.9%, 16.3%);
  --nav-box-shadow-color: hsl(208.4, 22.9%, 16.3%);

  --placeholder-color: hsl(0, 0%, 66.7%);
}

.theme-light {
  --page-bg: hsl(0, 0%, 98%);
  --element-bg: hsl(0, 0%, 100%);
  --element-color: hsl(200, 15%, 8%);
  --dropdown-link-hover-bg: hsl(0, 0%, 90%);
  --nav-link-hover-color: hsl(200, 15%, 16%);
  --btn-hover-bg: hsl(0, 0%, 90%);

  --element-box-shadow-color: hsl(0, 0%, 93%);
  --nav-box-shadow-color: hsl(0, 0%, 93%);


  --placeholder-color: hsl(0, 0.9%, 43.1%);
  ;
}

-- {

  // Very Light Gray (Light Mode Background)
  color: hsl(0, 0%, 98%);
  // Very Dark Blue (Dark Mode Background)
  color: hsl(207, 26%, 17%);


  // Very Dark Blue (Light Mode Text)
  color: hsl(200, 15%, 8%);
  // White (Dark Mode Text )
  color: hsl(0, 0%, 100%);

  // White (Light Mode Elements)
  color: hsl(0, 0%, 100%);
  // Dark Blue (Dark Mode Elements)
  color: hsl(209, 23%, 22%);

  // Dark Gray (Light Mode Input)
  color: hsl(0, 0%, 52%);
}